    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    input[type=number]{
      -moz-appearance: textfield;
  }
    abbr[title] {
      border-bottom: none !important;
      cursor: default !important;
    }