    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    input[type=number] {
      -moz-appearance: textfield;
    }

    .container {
      background-color: #FFFFFF;
    }

    #head {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    header {
      text-align: center;
    }

    .mainTitle {
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      margin-top: 20px;
    }

    #tbody {
      cursor: pointer;
    }

    .container {
      margin-top: 60px;
    }

    /* .navbar {
      align-items: center;
      position: relative;
      justify-content: space-between;
    } */

    .card {
      box-shadow: 0 4px 0 rgba(0, 0, 0, 0.2);
      transition: 0.3s;
      width: 40%
    }

    footer {
      position: fixed;
      bottom: 10px;
      width: 100%;
    }